* {
    margin: 0;
    padding: 0;
}

html
{
    width: 100%;
    height: 100%;
}

@font-face{
	font-family: lol;
	src: url('../Fonts/lol-font-2.ttf');
}

body{
    background-color: #f4f5f6;
}

div#header.row{
    padding-top: 300px;
    padding-bottom: 300px;
    text-align: center;
}

div#header.row{
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: inherit;
    background-position: center center;
    background-image: url("../img/con-fondo/header.png");
}

span.lol1{
    font-family: lol;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    font-size: x-large;
    color: #ffffff;
}

span.lol2{
    font-family: lol;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    font-size: x-large;
    margin-left: 10px;
    color: #0077ff;
}


.centering1{
    padding-right: 100px;
}

.centering2{
    padding-left: 100px;
}


.roster-oficial-div{
    text-align: center;
}
.roster-oficial-span{
    font-family: lol;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    font-size: xx-large;
    margin-left: 10px;
    color: #0077ff;
}


div .card{
    position: relative;
    width: 400px;
    height: 600px;
    border-radius: 3px;
    margin: 13px;
    /*box-shadow: 0 1px 4px rgba(0, 0, 0, .3);*/
    overflow: hidden;
}

#cards-oficial{
    text-align: center;
}

.card{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}


div#cards-oficial.container-fluid.row{
    padding-left: 26px;
}